$grey: rgb(245, 245, 245);

.navbar{
    padding: 2vh 5vw;
    background-color: $grey !important;
    .logo{
        width: 50px;
        height: auto;
        margin-right: 1vw;
    }
    .logo-brand{
        font-size: x-large;
        font-weight: bold;
    }
    .menu{
        margin-left: 5vw;
        .menu-item{
            font-size: large;
            margin-right: 1rem;
        }
        .menu-dropdown{
            .menu-dropdown-item{
                background-color: $grey;
                &:hover{
                    background-color: yellow;
                }
            }
        }
    }

    .btn-menu{
        margin-left: 1rem;
    }
}